.people-list {
    padding: 40px 15px;
}
.person {
    max-width: 350px;
    margin: 15px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    
    .person--details {
        padding-left: 15px;
        text-align: left;
    }
    .person--name {
        font-size: 30px;
        font-weight: bold;
    }

    &:nth-child(1) .person--email span {
        @extend .green;
    }
    &:nth-child(2) .person--email span {
        @extend .purple;
    }
    &:nth-child(3) .person--email span {
        @extend .orange;
    }
}

// Colour classes

.purple {
    color: #D900D9;
}
.green {
    color: #00b200;
}
.orange {
    color: #FF4000;
}