<div class="people-list">
    <div class="person" *ngFor="let person of people">
        <div class="person--image">
            <img src="https://via.placeholder.com/70.png" alt="">
        </div>
        <div class="person--details">
                <div class="person--name">{{ person.name }}</div>
                <div class="person--age">Age: {{ person.age }}</div>
                <div class="person--location">Location: {{ person.location }}, {{ person.country }}</div>
                <div class="person--email">Email: <span>{{ person.email_address }}</span></div>
        </div>
    </div>
</div>
