<!DOCTYPE html>
<html lang="en-US" ng-app="yarr-app">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<style type="text/css">
body {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0; 
}
.people-list {
    padding: 40px 15px;
  }
.person {
    max-width: 350px;
    margin: 15px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }
  .person .person--details {
    padding-left: 15px;
    text-align: left;
  }
  .person .person--name {
    font-size: 30px;
    font-weight: bold;
  }
  .purple, .person:nth-child(2) .person--email span {
    color: #d900d9;
  }
  .green, .person:nth-child(1) .person--email span {
    color: #00b200;
  }
  .orange, .person:nth-child(3) .person--email span {
    color: #ff4000;
  }
  
</style>
<body>

<div ng-controller="peopleController">
    <div class="people-list">
        <div class="person" ng-repeat="person in people">
            <div class="person--image">
                <img src="https://via.placeholder.com/70.png" alt="">
            </div>
            <div class="person--details">
                    <div class="person--name">{{ person.name }}</div>
                    <div class="person--age">Age: {{ person.age }}</div>
                    <div class="person--location">Location: {{ person.location }}, {{ person.country }}</div>
                    <div class="person--email">Email: <span>{{ person.email_address }}</span></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
var yarrApp = angular.module("yarr-app", []);

yarrApp.controller("peopleController", function ($scope, $http) {
    $http.get("https://raw.githubusercontent.com/jakeyarrington/Code-Test/master/people.json")
    .then(function(result){
      $scope.people = result.data;                
    });
});
</script>
</body>
</html>